<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a routerLink="/collaborateur/reservations" class="nav-link disabled" routerLinkActive="nav-link active">Réservations</a>
        </li>
        <li class="nav-item">
            <a routerLink="/collaborateur/annonces/" class="nav-link disabled" routerLinkActive="nav-link active">Vos annonces</a>
        </li>
        <li class="nav-item">
            <a routerLink="/collaborateur/statistiques" class="nav-link disabled" routerLinkActive="nav-link active">Statistiques</a>
        </li>
    </ul>
</div>