<div class="container-fluid">
  <div class="row">
    <h1>Publier une annonce</h1>
  </div>
  <div class="container-fluid">
    <form (ngSubmit)="submit()" #newAnnonce="ngForm">
            <div class="form-group row">
              <label for="depart" class="col-sm-2 col-form-label">Adresse de départ </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="depart" Googleplace (onSelect)="getAddressDepart($event)" id="depart"
                  name="depart" placeholder="Point de départ">
              </div>
            </div>
            <div class="form-group row">
              <label for="destination" class="col-sm-2 col-form-label">Adresse de destination</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="destination" Googleplace (onSelect)="getAddressArriver($event)" id="destination" name="destination" placeholder="Destination">
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Durée du trajet</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Durée">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Distance</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Distance">
              </div>
            </div> -->
    <div class="container-fluid">
      <div class="row">
        <h4>Véhicule</h4>
      </div>
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Immatriculation *</span>
              </div>
              <input type="text" name="immatriculation" #immmatriculation="ngModel" [(ngModel)]="annonce.vehicule.immatriculation" required class="form-control">
          </div>

          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Marque *</span>
              </div>
              <input type="text" name="marque" #marque="ngModel" [(ngModel)]="annonce.vehicule.marque" required class="form-control">
              <div *ngIf="marque.dirty  && marque.invalid">La marque est obligatoire.</div>
          </div>

          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Modèle *</span>
              </div>
              <input type="text" name="modele" #modele="ngModel" [(ngModel)]="annonce.vehicule.modele" required class="form-control">
              <div *ngIf="modele.dirty  && modele.invalid">Le modèle est obligatoire.</div>
          </div>

          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nombre de places disponibles *</span>
              </div>
              <input type="text" name="placeDispo" #placeDispo="ngModel" [(ngModel)]="annonce.vehicule.nbPlace" required minlength="1" maxlength="20" class="form-control">
              <div *ngIf="placeDispo.dirty  && placeDispo.invalid">Le nombre de places doit être compris entre 1 et 20.</div>
          </div>
    </div>
    <div>
      <div class="row">
        <h4>Date et horaire</h4>
      </div>
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Date / heure *</span>
              </div>

              <input type="text" name="jour" #jourDate="ngModel" [(ngModel)]="jour" placeholder="jour" required class="form-control">
              <input type="text" name="mois" #moisDate="ngModel" [(ngModel)]="mois" placeholder="mois" required class="form-control">
              <input type="text" name="annee" #anneeDate="ngModel" [(ngModel)]="annee" placeholder="annee" required class="form-control">

              <select name="heure" id="heure" #heureDepart="ngModel" [(ngModel)]="heure" required class="form-control">
                  <option *ngFor="let h of heureTable" [value]="h">{{h}}</option> 
              </select>
              <select name="minute" id="minute" #minuteDepart="ngModel" [(ngModel)]="minute" required class="form-control">
                  <option *ngFor="let m of minuteTable" [value]="m">{{m}}</option> 
              </select>
              <!-- <div *ngIf="date.dirty  && date.invalid">Le modèle est obligatoire.</div> -->
          </div>        
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!newAnnonce.valid">Ajouter</button>
  </form>
  </div>

</div>
